.filter-form {
  min-width: 250px;
  max-width: 500px;
  min-height: 50px;
  max-height: 60px;
  background: inherit;
  color: #f4f4f4;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(#f4f4f4, 0.54);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.filter-form::placeholder {
  color: #f4f4f4;
  opacity: 0.54;
}
