.menu--items button {
  color: #111111;
  text-align: center;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  background: #20c997;
  border-inline: 1px solid transparent
  //border: 0.1px solid #54546b;
  //border-radius: 2px;
}

.menu--items button:hover {
  color: white !important;
  background: #111111;
  border-inline: 1px solid #ffc107;

}

.title > span {
  color: transparent;
  background: linear-gradient(to right, #ffc107, #1e7ddb) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  font-size: 48px;
  font-weight: 900;
  font-family: Inter, sans-serif;
  height: 2.8rem;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.title-dumps {
  opacity: 0.5;
}
