<div fxLayout="row" class="padding-r1 home--background" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2rem">
    <span class="title" fxLayout="row" fxLayoutAlign="start center">
      <img src="assets/cd-logo.svg" alt="Cinematic Dumps">
      <ng-container *ngIf="!isMobileWidth">
        <span class="title-cinematic" (click)="setMode(modes.NONE)">C</span>
      <span class="title-dumps" (click)="setMode(modes.NONE)">dumps</span>
      </ng-container>
    </span>
  </div>
    <ng-container *ngIf="!isMobileWidth">
    <span class="menu--items" fxLayoutGap="1.3em">
    <button mat-raised-button [ngClass]="{'active': currentMode === modes.NONE}" (click)="setMode(modes.NONE)">Home</button>
    <button mat-raised-button [ngClass]="{'active': currentMode === modes.MOVIES}" (click)="setMode(modes.MOVIES)">Movies</button>
    <button mat-raised-button [ngClass]="{'active': currentMode === modes.ANIMES}" (click)="setMode(modes.ANIMES)">Anime</button>
    <button mat-raised-button [ngClass]="{'active': currentMode === modes.MANGAS}" (click)="setMode(modes.MANGAS)">Mangas</button>
    <button mat-raised-button [ngClass]="{'active': currentMode === modes.SERIES}" (click)="setMode(modes.SERIES)">Series</button>
  </span>
    </ng-container>
  <ng-container *ngIf="isMobileWidth">
    <button mat-stroked-button [style.color]="'white'" (click)="openMenu()"><mat-icon>menu</mat-icon>Menu</button>
  </ng-container>
</div>
