<div fxLayout="row" fxLayoutAlign="end end">
  <mat-icon (click)="closeSheet()" class="icon--pointer icon--white">close</mat-icon>
</div>
<mat-nav-list>
  <a mat-list-item [ngClass]="{'active': data.mode===modes.NONE}" (click)="openClick(modes.NONE)">
    <span matListItemTitle class="ms-font-color ms-font-bold">Home</span>
  </a>

  <a mat-list-item [ngClass]="{'active': data.mode===modes.MOVIES}" (click)="openClick(modes.MOVIES)">
    <span matListItemTitle class="ms-font-color ms-font-bold">Movies</span>
  </a>

  <a mat-list-item [ngClass]="{'active': data.mode===modes.ANIMES}" (click)="openClick(modes.ANIMES)">
    <span matListItemTitle class="ms-font-color ms-font-bold">Anime</span>
  </a>

  <a mat-list-item  [ngClass]="{'active': data.mode===modes.MANGAS}" (click)="openClick(modes.MANGAS)">
    <span matListItemTitle class="ms-font-color ms-font-bold">Manga</span>
  </a>

  <a  mat-list-item [ngClass]="{'active': data.mode===modes.SERIES}" (click)="openClick(modes.SERIES)">
    <span matListItemTitle class="ms-font-color ms-font-bold">Series</span>
  </a>
</mat-nav-list>
