

.ms-round-button {
  pointer-events: fill;
  border: transparent;
  border-radius: 20px;
  color: #f4f4f4;
}

.ms-round-button:hover {
  background: darkgray !important;
  color: #f4f4f4 !important;
  mix-blend-mode: overlay;
}
