<div fxLayout="column">
  <ng-container *ngIf="isLoading">
    <ms-loading></ms-loading>
  </ng-container>
  <ng-container *ngIf="!selectedCinematicDumpAggregate && !isLoading">
    <ms-items-container contextType="panel" [aggregate]="aggregate"></ms-items-container>
  </ng-container>
  <ng-container *ngIf="selectedCinematicDumpAggregate && !isLoading">
    <div>
      <ms-item-detailed-content [item]="selectedCinematicDumpAggregate"></ms-item-detailed-content>
    </div>
  </ng-container>


</div>

