<div fxLayout="row" class="padding-r75" fxLayoutAlign="start start">
  <ng-container *ngIf="isParallelLoading">
    <ms-loading></ms-loading>
  </ng-container>
  <div fxLayout="column" class="padding-r-75" fxLayoutGap="0.2rem">
    <div fxLayout="column" fxLayoutGap="2rem">
      <ms-expansion-panel [contextType]="contextType" [chipType]="selectedPanelKey" [yearsChipList]="yearsChipList" [genreChipList]="genreChipList" (onClick)="selectedChipsFilterAggregate($event[0], $event[1], $event[2])"></ms-expansion-panel>
       </div>
    <ms-filter-search [placeholder]="'Search a item... Ex: Iron Man'"
                      label="Filter Search"
                      (valueChanged)="onValueChanges($event)"
                      [control]="control" ></ms-filter-search>
    <mat-divider></mat-divider>
  </div>
</div>

<div class="items--content">
  <ng-container *ngIf="!isMobileResolution">
    <div fxLayoutGap="0.4em" class="padding-r-75" fxLayout="row wrap" *ngIf="aggregate.length && !filteredList.length">
      <ng-container *ngFor="let item of aggregate">
        <ms-item-card [highlighted]="item.styleController.highlighted" (click)="selectedItemClicked(item)" (swipe)="selectedItemClicked(item)" [item]="item!.data!" (mouseover)="setSelectedItem(item!.data!, true)" (mouseleave)="setSelectedItem(item!.data!, false)"></ms-item-card>
      </ng-container>

    </div>
    <div fxLayoutGap="0.4em" class="padding-r-75" fxLayout="row wrap" *ngIf="filteredList.length > 0">
      <ng-container *ngFor="let item of filteredList">
        <ms-item-card [highlighted]="item.styleController.highlighted" [item]="item!.data!" (click)="selectedItemClicked(item)" (mouseover)="setSelectedItem(item!.data!, true)" (mouseleave)="setSelectedItem(item!.data!, false)"></ms-item-card>
      </ng-container>
    </div>
    <div class="padding-r-75" *ngIf="!aggregate.length">
      <ms-empty-state></ms-empty-state>
    </div>
  </ng-container>
  <ng-container *ngIf="isMobileResolution">
    <div fxLayoutGap="0.4em" class="padding-r-75" fxLayout="row wrap" *ngIf="aggregate.length && !filteredList.length">
      <ng-container *ngFor="let item of aggregate">
        <ms-item-card-mobile [highlighted]="item.styleController.highlighted" (click)="selectedItemClicked(item)" (swipe)="selectedItemClicked(item)" [item]="item!.data!" (mouseover)="setSelectedItem(item!.data!, true)" (mouseleave)="setSelectedItem(item!.data!, false)"></ms-item-card-mobile>
      </ng-container>

    </div>
    <div class="padding-r-75" *ngIf="!aggregate.length">
      <ms-empty-state></ms-empty-state>
    </div>
    <div fxLayoutGap="0.4em" class="padding-r-75" fxLayout="row wrap" *ngIf="filteredList.length>0">
      <ng-container *ngFor="let item of filteredList">
        <ms-item-card-mobile [highlighted]="item.styleController.highlighted" (click)="selectedItemClicked(item)" (swipe)="selectedItemClicked(item)" [item]="item!.data!" (mouseover)="setSelectedItem(item!.data!, true)" (mouseleave)="setSelectedItem(item!.data!, false)"></ms-item-card-mobile>
      </ng-container>
    </div>
  </ng-container>
</div>
