<svg width="570" height="131" viewBox="0 0 580 131" [style.cursor]="'pointer'" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g filter="url(#filter0_d_11_187)">
    <rect x="4" width="570" height="128" rx="5" filter="url(#f1)" [attr.fill]="'url(#pattern0'+item._id+')'"/>
    <rect *ngIf="highlighted" x="4" y="2" width="574" height="129" stroke="#ffc107"  stroke-opacity="0.84" stroke-width="3px" />
        <defs>
          <pattern [id]="'pattern0' + item._id" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use [attr.xlink:href]="'#image0_11_190'+item._id" transform="matrix(0.000951886 0 0 0.000925926 -0.413811 0)"/>
          </pattern>
          <image [id]="'image0_11_190'+item._id" width="1900" height="1020" [attr.xlink:href]="item.overviewImage"/>
        </defs>
  </g>
  <g id="item-pg" *ngIf="item.pg">
    <g id="pg-container">
      <rect x="523.5" y="10" fill="#ffc107" width="23" height="18"/>
      <rect x="523.5" y="10" width="46" height="18" stroke="#111111" stroke-opacity="1" stroke-width="2px">
        <animate attributeName="stroke" repeatCount="indefinite" dur="3s" values="#111111; #ffc107" />
      </rect>
      <rect x="546" fill="#111111" y="10" width="23" height="18" />
    </g>
    <g>
      <text x="527.5" y="24" fill="black" font-family="Inter, sans-serif" font-size="12" font-weight="600">
        <tspan>PG</tspan>
      </text>
      <text x="551.5" y="24" fill="#f4f4f4" font-family="Inter, sans-serif" font-size="12" font-weight="600">
        <tspan>{{item.pg}}</tspan>
      </text>
    </g>
  </g>
  <g id="cbfc" *ngIf="item.cbfc">
    <rect x="546" y="38" fill="#f4f4f4" width="25" height="18">
      <animate attributeName="fill" repeatCount="indefinite" dur="1s" values="#20c997; #ffc107; " />
    </rect>
    <text x="547.5" y="51" fill="#1e1e1e" font-family="Inter, sans-serif" font-size="12" font-weight="600">
      <tspan>{{item.cbfc}}</tspan>
    </text>
  </g>
  <g>
    <foreignObject width="170" height="255" x="15" y="10">
      <ms-eclipse [link]="item.overviewImage"></ms-eclipse>
    </foreignObject>
  <g>
    <text x="135.8" y="29" [style.width]="'165rem'" [style.height]="'31rem'" font-size="20px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" letter-spacing="0.01em" font-family="Inter, sans-serif;">
      <tspan>{{item.title | lineConvertor: 35:0: true}}</tspan>
    </text>
  </g>
  </g>
  <g id="description">
    <text x="135" y="57" fill="#f4f4f4" fill-opacity="0.87" font-weight="400" font-size="14px" *ngIf="item.description.length>60">
        {{item.description.substring(0, 60)}}
      </text>
    <text x="135" y="57"  fill="#f4f4f4" fill-opacity="0.87" font-weight="400" font-size="14px" *ngIf="item.description.length<60">
        <tspan>{{item.description}}</tspan>
      </text>
    <text x="135" y="74"  fill="#f4f4f4" fill-opacity="0.87" font-weight="400" font-size="14px" *ngIf="item.description!.length>60 && item.description!.length<500">
        <tspan>{{item.description.substring(60, 120) + '..'}}</tspan>
      </text>
  </g>
  <g>
    <text x="135.8" y="112" *ngIf="item?.episodes && !item?.chapters && !item?.imdb_rating" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="300" font-family=" Inter, sans-serif;">
      <tspan>Episodes: </tspan>
    </text>
    <text x="186.55" *ngIf="item?.episodes && !item?.chapters && !item?.imdb_rating" y="112" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" font-family=" Inter, sans-serif;">
      <tspan>{{item.episodes}}</tspan>
    </text>
    <text x="135.8" y="112" *ngIf="!item?.episodes && item?.chapters && !item?.imdb_rating" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="300" font-family=" Inter, sans-serif;">
      <tspan>Chapters: </tspan>
    </text>
    <text x="186.55" *ngIf="!item?.episodes && item?.chapters && !item?.imdb_rating" y="112" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" font-family=" Inter, sans-serif;">
      <tspan>{{item.chapters}}</tspan>
    </text>
    <text x="135.8" y="112" *ngIf="!item?.episodes && !item?.chapters && item?.imdb_rating" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="300" font-family=" Inter, sans-serif;">
      <tspan>IMDb: </tspan>
    </text>
    <text x="169" *ngIf="!item?.episodes && !item?.chapters && item?.imdb_rating" y="112" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" font-family=" Inter, sans-serif;">
      <tspan>{{item.imdb_rating}}</tspan>
    </text>
  </g>
  <g>
    <text x="260" y="112" [style.width]="'165rem'" [style.height]="'31rem'" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="300" font-family=" Inter, sans-serif;">
      <tspan>Genre: </tspan>
    </text>
    <text x="299" y="112" [style.width]="'165rem'" [style.height]="'31rem'" *ngIf="item.genres!.length<4" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" font-family=" Inter, sans-serif;">
      <tspan>{{ item.genres.join(', ')}} </tspan>
    </text>
    <text x="299" y="112" [style.width]="'165rem'" [style.height]="'31rem'" *ngIf="item.genres!.length> 3" font-size="12px" fill="#f4f4f4" fill-opacity="0.54" font-weight="800" font-family=" Inter, sans-serif;">
      <tspan>{{ item.genres.join(', ')!.substring(0, 28)+'..'}} </tspan>
    </text>
  </g>
  <g>
  <text x="525" y="112" font-size="15px" font-weight="800" fill="#EBFE13" fill-opacity="0.87" font-family=" Inter, sans-serif;">
    <tspan class="underline--text">{{item.year}} </tspan>
  </text>
  </g>
  <defs>
    <filter id="filter0_d_11_187" x="0" y="0" width="613" height="133" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_11_187"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_11_187" result="shape"/>
    </filter>
    <filter id="f1" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" edgeMode="duplicate" stdDeviation="50" />
    </filter>
  </defs>
</svg>
