<div fxLayout="column">
  <ng-container *ngIf="isLoading">
    <ms-loading></ms-loading>
  </ng-container>
  <ng-container *ngIf="!selectedCinematicDumpAggregate && !isLoading">
  <ms-items-container contextType="document" [selectedGenre]="queryGenre" [aggregate]="aggregate"></ms-items-container>
  </ng-container>
  <ng-container *ngIf="selectedCinematicDumpAggregate && !isLoading && isMobileResolution">
    <ms-item-detailed-content-mobile [item]="selectedCinematicDumpAggregate"></ms-item-detailed-content-mobile>
  </ng-container>
  <ng-container *ngIf="selectedCinematicDumpAggregate && !isLoading && !isMobileResolution">
    <div>
      <ms-item-detailed-content [item]="selectedCinematicDumpAggregate"></ms-item-detailed-content>
    </div>
  </ng-container>


</div>

