<mat-accordion [ngClass]="{'filter-menu': true, 'disabled-panel': hideExpansionPanel}" multi>
  <mat-expansion-panel [disabled]="hideExpansionPanel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filters
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center">
        <mat-icon>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat--content">
      <ms-selection-chips [contextType]="contextType" [chipInputs]="'genre'" [chipType]="chipType" [matChipList]="genreChipList" (selectedEvent)="chipSelected($event, 'genre')"></ms-selection-chips>
      <ms-selection-chips [contextType]="contextType" [chipInputs]="'year'" [chipType]="chipType" [matChipList]="yearsChipList" (selectedEvent)="chipSelected($event, 'year')"></ms-selection-chips>

    </div>
      </mat-expansion-panel>
</mat-accordion>
