::ng-deep {
  .filter-menu .mat-expansion-panel {
    background: linear-gradient(to left, #ffc107, #1e7ddb) !important;
    opacity: 1 !important;
    .mat-expansion-panel-header-title , .mat-expansion-panel-header-description {
      color: #1e1e1e !important;
    }
    .mat-expansion-panel-header:hover {
      background: none !important;
    }
  }


  .disabled-panel .mat-expansion-panel {
    opacity: 0.54 !important;
  }
}
