<svg [attr.width]="width" height="1080" [attr.viewBox]="'0 0 ' + width + ' 1080'" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g>
    <rect [attr.width]="'100%'" rx="20" ry="20" height="1080" fill-rule="evenodd" filter="url(#f1)" fill="url(#pattern0)"
          style="mix-blend-mode:color-dodge;"
    />
    <g id="itemTitle01">
      <text x="341.45" y="133.22" font-variant="normal" letter-spacing="0.01em" font-family="Inter; sans-serif" font-stretch="semi-expanded" font-weight="800" font-size="65.46">
        <tspan fill="#F4F4F4" fill-opacity="0.54">{{item?.title | lineConvertor}}</tspan>
      </text>
      <text x="341.45" y="202.22" font-variant="normal" *ngIf="item?.title && item?.title!.length > 33" letter-spacing="0.01em" font-family="Inter; sans-serif" font-stretch="semi-expanded" font-weight="800" font-size="65.46">
        <tspan fill="#F4F4F4" fill-opacity="0.54">{{item?.title | lineConvertor: 66}}</tspan>
      </text>
    </g>

    <g id="item-genres">
      <g id="item-genre-values" class="genreList">
        <g *ngFor="let genre of genresXList">
          <text fill="#f4f4f4" [attr.x]="genre.x" (click)="onClickGenre(genre.key)" y="415" font-size="18px">
            <tspan class="underline--text text-pointer" (click)="onClickGenre(genre.key)">{{genre.key}}</tspan>
          </text>
        </g>
      </g>
    </g>
    <g id="item_releaseOn">
      <g id="item-releaseOn-value">
        <text x="341.45" y="464"  fill="#F4F4F4" fill-opacity="0.54" font-size="18.12" font-family="Inter,sans-serif" font-weight="600">
          <tspan>{{item?.year}}</tspan>
        </text>
      </g>
    </g>
    <g id="active">
      <path d="M352.987 152.149C352.781 153.37 352.386 154.425 351.803 155.314C351.219 156.199 350.505 156.882 349.662 157.363C348.819 157.84 347.905 158.078 346.921 158.078C345.906 158.078 345.042 157.83 344.329 157.334C343.619 156.834 343.111 156.128 342.806 155.217C342.505 154.301 342.457 153.217 342.663 151.966C342.869 150.745 343.264 149.692 343.848 148.807C344.432 147.918 345.147 147.235 345.994 146.758C346.841 146.278 347.76 146.037 348.752 146.037C349.76 146.037 350.616 146.287 351.322 146.787C352.032 147.283 352.537 147.989 352.838 148.904C353.144 149.816 353.193 150.898 352.987 152.149ZM351.637 151.966C351.805 150.966 351.78 150.125 351.562 149.442C351.345 148.759 350.984 148.242 350.481 147.891C349.977 147.54 349.378 147.365 348.684 147.365C347.959 147.365 347.272 147.55 346.623 147.92C345.975 148.286 345.42 148.826 344.958 149.54C344.496 150.249 344.182 151.119 344.014 152.149C343.846 153.149 343.871 153.99 344.088 154.673C344.306 155.356 344.666 155.873 345.17 156.224C345.673 156.575 346.272 156.75 346.967 156.75C347.692 156.75 348.378 156.567 349.027 156.201C349.676 155.831 350.231 155.291 350.692 154.581C351.154 153.868 351.469 152.996 351.637 151.966ZM356.45 152.63L355.58 157.918H354.229L355.694 149.128H356.999L356.77 150.501H356.885C357.159 150.055 357.531 149.696 358.001 149.425C358.47 149.15 359.036 149.013 359.7 149.013C360.288 149.013 360.784 149.135 361.188 149.379C361.596 149.62 361.884 149.986 362.052 150.478C362.224 150.966 362.249 151.585 362.127 152.332L361.188 157.918H359.838L360.753 152.424C360.868 151.737 360.778 151.199 360.484 150.81C360.194 150.421 359.735 150.226 359.105 150.226C358.67 150.226 358.268 150.32 357.898 150.507C357.531 150.694 357.22 150.966 356.965 151.325C356.713 151.684 356.541 152.119 356.45 152.63ZM366.655 161.397C365.999 161.397 365.449 161.313 365.007 161.146C364.564 160.981 364.209 160.764 363.942 160.493C363.675 160.226 363.473 159.94 363.336 159.635L364.549 158.879C364.64 159.04 364.759 159.223 364.904 159.429C365.049 159.639 365.268 159.82 365.562 159.972C365.859 160.129 366.277 160.207 366.815 160.207C367.521 160.207 368.139 160.035 368.669 159.692C369.2 159.349 369.528 158.811 369.654 158.078L369.928 156.293H369.814C369.692 156.453 369.522 156.651 369.305 156.888C369.087 157.12 368.795 157.328 368.429 157.512C368.063 157.691 367.593 157.78 367.021 157.78C366.308 157.78 365.697 157.613 365.19 157.277C364.682 156.941 364.318 156.453 364.097 155.812C363.879 155.171 363.847 154.393 364 153.477C364.148 152.576 364.434 151.792 364.858 151.125C365.285 150.453 365.812 149.934 366.437 149.568C367.063 149.198 367.746 149.013 368.486 149.013C369.059 149.013 369.497 149.108 369.803 149.299C370.112 149.486 370.337 149.7 370.478 149.94C370.619 150.177 370.726 150.371 370.798 150.524H370.936L371.165 149.128H372.469L370.981 158.17C370.856 158.925 370.583 159.539 370.163 160.012C369.743 160.489 369.228 160.838 368.618 161.06C368.007 161.285 367.353 161.397 366.655 161.397ZM367.365 156.567C367.903 156.567 368.381 156.443 368.801 156.195C369.225 155.947 369.576 155.591 369.854 155.125C370.133 154.66 370.325 154.103 370.432 153.454C370.539 152.821 370.531 152.262 370.409 151.777C370.287 151.293 370.056 150.913 369.717 150.638C369.381 150.364 368.94 150.226 368.395 150.226C367.819 150.226 367.321 150.371 366.901 150.661C366.485 150.951 366.148 151.34 365.888 151.829C365.629 152.317 365.449 152.859 365.35 153.454C365.251 154.064 365.255 154.604 365.362 155.074C365.468 155.539 365.686 155.905 366.014 156.172C366.346 156.436 366.796 156.567 367.365 156.567ZM377.105 158.101C376.296 158.101 375.619 157.908 375.073 157.523C374.528 157.138 374.142 156.598 373.917 155.903C373.696 155.209 373.66 154.4 373.809 153.477C373.954 152.576 374.242 151.792 374.673 151.125C375.108 150.453 375.647 149.934 376.292 149.568C376.941 149.198 377.654 149.013 378.433 149.013C379.241 149.013 379.917 149.208 380.459 149.597C381.004 149.982 381.389 150.524 381.615 151.222C381.84 151.916 381.878 152.729 381.729 153.66C381.584 154.553 381.292 155.333 380.853 156.001C380.418 156.665 379.879 157.182 379.234 157.552C378.593 157.918 377.883 158.101 377.105 158.101ZM377.128 156.888C377.746 156.888 378.282 156.729 378.736 156.413C379.194 156.096 379.564 155.678 379.846 155.159C380.132 154.641 380.325 154.08 380.424 153.477C380.516 152.905 380.512 152.372 380.413 151.88C380.314 151.384 380.102 150.986 379.778 150.684C379.453 150.379 378.997 150.226 378.41 150.226C377.792 150.226 377.252 150.387 376.79 150.707C376.332 151.028 375.962 151.449 375.68 151.972C375.398 152.494 375.209 153.057 375.113 153.66C375.022 154.232 375.024 154.765 375.119 155.257C375.218 155.745 375.43 156.14 375.754 156.441C376.082 156.739 376.54 156.888 377.128 156.888ZM383.092 157.918L384.558 149.128H385.908L384.443 157.918H383.092ZM385.645 147.64C385.382 147.64 385.155 147.55 384.964 147.371C384.777 147.191 384.683 146.976 384.683 146.724C384.683 146.472 384.777 146.257 384.964 146.077C385.155 145.898 385.382 145.808 385.645 145.808C385.908 145.808 386.133 145.898 386.32 146.077C386.511 146.257 386.606 146.472 386.606 146.724C386.606 146.976 386.511 147.191 386.32 147.371C386.133 147.55 385.908 147.64 385.645 147.64ZM389.137 152.63L388.267 157.918H386.917L388.382 149.128H389.687L389.458 150.501H389.572C389.847 150.055 390.219 149.696 390.688 149.425C391.157 149.15 391.724 149.013 392.388 149.013C392.975 149.013 393.471 149.135 393.876 149.379C394.284 149.62 394.572 149.986 394.74 150.478C394.912 150.966 394.936 151.585 394.814 152.332L393.876 157.918H392.525L393.441 152.424C393.555 151.737 393.466 151.199 393.172 150.81C392.882 150.421 392.422 150.226 391.793 150.226C391.358 150.226 390.955 150.32 390.585 150.507C390.219 150.694 389.908 150.966 389.652 151.325C389.401 151.684 389.229 152.119 389.137 152.63ZM399.343 161.397C398.686 161.397 398.137 161.313 397.694 161.146C397.252 160.981 396.897 160.764 396.63 160.493C396.363 160.226 396.161 159.94 396.023 159.635L397.237 158.879C397.328 159.04 397.446 159.223 397.591 159.429C397.736 159.639 397.956 159.82 398.25 159.972C398.547 160.129 398.965 160.207 399.503 160.207C400.209 160.207 400.827 160.035 401.357 159.692C401.887 159.349 402.215 158.811 402.341 158.078L402.616 156.293H402.502C402.38 156.453 402.21 156.651 401.992 156.888C401.775 157.12 401.483 157.328 401.117 157.512C400.75 157.691 400.281 157.78 399.709 157.78C398.995 157.78 398.385 157.613 397.878 157.277C397.37 156.941 397.006 156.453 396.784 155.812C396.567 155.171 396.535 154.393 396.687 153.477C396.836 152.576 397.122 151.792 397.546 151.125C397.973 150.453 398.499 149.934 399.125 149.568C399.751 149.198 400.434 149.013 401.174 149.013C401.746 149.013 402.185 149.108 402.49 149.299C402.799 149.486 403.024 149.7 403.165 149.94C403.307 150.177 403.413 150.371 403.486 150.524H403.623L403.852 149.128H405.157L403.669 158.17C403.543 158.925 403.27 159.539 402.851 160.012C402.431 160.489 401.916 160.838 401.306 161.06C400.695 161.285 400.041 161.397 399.343 161.397ZM400.052 156.567C400.59 156.567 401.069 156.443 401.489 156.195C401.912 155.947 402.263 155.591 402.542 155.125C402.82 154.66 403.013 154.103 403.12 153.454C403.227 152.821 403.219 152.262 403.097 151.777C402.975 151.293 402.744 150.913 402.404 150.638C402.069 150.364 401.628 150.226 401.082 150.226C400.506 150.226 400.008 150.371 399.589 150.661C399.173 150.951 398.835 151.34 398.576 151.829C398.316 152.317 398.137 152.859 398.038 153.454C397.939 154.064 397.942 154.604 398.049 155.074C398.156 155.539 398.374 155.905 398.702 156.172C399.034 156.436 399.484 156.567 400.052 156.567Z" fill="#EBFE13" fill-opacity="0.87"/>
    </g>
    <g id="item-characters">
      <g id="item-charactersValue">
        <text x="485.426" y="464" fill="#f4f4f4" fill-opacity="0.54" font-size="18.12" font-family="Inter,sans-serif" font-weight="600">
          <tspan>Hello</tspan>
        </text>
      </g>
    </g>
    <g id="item-author">
      <g id="item-authorValue">
        <text y="496.3" x="341.45" font-size="18.12" font-family="Inter,sans-serif" font-weight="600" fill="#F4F4F4" fill-opacity="0.54">
          <tspan>Hello</tspan>
        </text>
      </g>
    </g>
    <g id="item-directors">
      <g id="item-director-header">
        <path d="M585.245 496.332H581.45V484.611H585.365C586.513 484.611 587.499 484.846 588.323 485.315C589.148 485.78 589.779 486.45 590.218 487.324C590.66 488.194 590.882 489.237 590.882 490.454C590.882 491.675 590.658 492.724 590.212 493.602C589.769 494.479 589.128 495.155 588.289 495.628C587.45 496.097 586.435 496.332 585.245 496.332ZM583.219 494.786H585.147C586.04 494.786 586.782 494.618 587.373 494.283C587.965 493.943 588.407 493.453 588.701 492.812C588.995 492.167 589.142 491.381 589.142 490.454C589.142 489.535 588.995 488.754 588.701 488.113C588.411 487.473 587.978 486.986 587.402 486.654C586.826 486.322 586.111 486.156 585.256 486.156H583.219V494.786ZM592.943 496.332V487.541H594.654V496.332H592.943ZM593.807 486.185C593.51 486.185 593.254 486.086 593.041 485.887C592.831 485.685 592.726 485.445 592.726 485.166C592.726 484.884 592.831 484.644 593.041 484.445C593.254 484.243 593.51 484.142 593.807 484.142C594.105 484.142 594.359 484.243 594.569 484.445C594.782 484.644 594.889 484.884 594.889 485.166C594.889 485.445 594.782 485.685 594.569 485.887C594.359 486.086 594.105 486.185 593.807 486.185ZM596.956 496.332V487.541H598.61V488.938H598.702C598.862 488.464 599.144 488.093 599.549 487.822C599.957 487.547 600.419 487.41 600.934 487.41C601.041 487.41 601.167 487.413 601.311 487.421C601.46 487.429 601.577 487.438 601.661 487.45V489.086C601.592 489.067 601.47 489.046 601.294 489.023C601.119 488.997 600.943 488.983 600.768 488.983C600.363 488.983 600.003 489.069 599.686 489.241C599.373 489.409 599.125 489.643 598.942 489.945C598.759 490.242 598.668 490.582 598.668 490.963V496.332H596.956ZM606.615 496.509C605.749 496.509 605.003 496.324 604.378 495.954C603.756 495.58 603.275 495.055 602.935 494.38C602.6 493.701 602.432 492.905 602.432 491.994C602.432 491.093 602.6 490.3 602.935 489.613C603.275 488.926 603.748 488.39 604.355 488.005C604.965 487.619 605.679 487.427 606.495 487.427C606.991 487.427 607.472 487.509 607.937 487.673C608.403 487.837 608.82 488.094 609.19 488.445C609.561 488.796 609.852 489.252 610.066 489.813C610.28 490.37 610.387 491.047 610.387 491.845V492.451H603.399V491.17H608.71C608.71 490.719 608.618 490.321 608.435 489.973C608.252 489.622 607.994 489.346 607.662 489.144C607.334 488.941 606.949 488.84 606.506 488.84C606.026 488.84 605.606 488.959 605.247 489.195C604.893 489.428 604.618 489.733 604.423 490.111C604.233 490.485 604.137 490.891 604.137 491.33V492.331C604.137 492.919 604.24 493.419 604.446 493.831C604.656 494.243 604.948 494.557 605.322 494.775C605.696 494.989 606.133 495.095 606.632 495.095C606.957 495.095 607.252 495.05 607.519 494.958C607.786 494.863 608.017 494.722 608.212 494.535C608.406 494.348 608.555 494.117 608.658 493.842L610.278 494.134C610.148 494.611 609.915 495.029 609.58 495.387C609.248 495.742 608.83 496.019 608.326 496.217C607.827 496.412 607.256 496.509 606.615 496.509ZM615.988 496.509C615.137 496.509 614.404 496.316 613.79 495.931C613.18 495.542 612.711 495.006 612.382 494.323C612.054 493.64 611.89 492.858 611.89 491.976C611.89 491.084 612.058 490.296 612.394 489.613C612.73 488.926 613.203 488.39 613.813 488.005C614.424 487.619 615.143 487.427 615.971 487.427C616.638 487.427 617.234 487.551 617.756 487.799C618.279 488.043 618.7 488.386 619.021 488.829C619.345 489.271 619.538 489.788 619.599 490.38H617.934C617.842 489.968 617.632 489.613 617.304 489.315C616.98 489.018 616.545 488.869 615.999 488.869C615.522 488.869 615.105 488.995 614.746 489.247C614.391 489.495 614.115 489.849 613.916 490.311C613.718 490.769 613.619 491.311 613.619 491.936C613.619 492.577 613.716 493.131 613.91 493.596C614.105 494.061 614.38 494.422 614.735 494.678C615.093 494.933 615.515 495.061 615.999 495.061C616.324 495.061 616.617 495.002 616.881 494.884C617.148 494.762 617.371 494.588 617.55 494.363C617.733 494.138 617.861 493.867 617.934 493.55H619.599C619.538 494.119 619.353 494.626 619.044 495.073C618.735 495.519 618.321 495.87 617.802 496.126C617.287 496.381 616.682 496.509 615.988 496.509ZM625.532 487.541V488.915H620.731V487.541H625.532ZM622.018 485.435H623.729V493.751C623.729 494.082 623.779 494.332 623.878 494.5C623.977 494.664 624.105 494.777 624.262 494.838C624.422 494.895 624.596 494.924 624.782 494.924C624.92 494.924 625.04 494.914 625.143 494.895C625.246 494.876 625.326 494.861 625.383 494.849L625.692 496.263C625.593 496.301 625.452 496.339 625.269 496.377C625.086 496.419 624.857 496.442 624.582 496.446C624.132 496.454 623.712 496.374 623.323 496.206C622.934 496.038 622.619 495.778 622.379 495.427C622.138 495.076 622.018 494.636 622.018 494.105V485.435ZM631.033 496.509C630.209 496.509 629.49 496.32 628.876 495.942C628.261 495.565 627.785 495.036 627.445 494.357C627.105 493.678 626.936 492.884 626.936 491.976C626.936 491.065 627.105 490.267 627.445 489.584C627.785 488.901 628.261 488.371 628.876 487.993C629.49 487.616 630.209 487.427 631.033 487.427C631.857 487.427 632.577 487.616 633.191 487.993C633.805 488.371 634.282 488.901 634.622 489.584C634.961 490.267 635.131 491.065 635.131 491.976C635.131 492.884 634.961 493.678 634.622 494.357C634.282 495.036 633.805 495.565 633.191 495.942C632.577 496.32 631.857 496.509 631.033 496.509ZM631.039 495.073C631.573 495.073 632.016 494.931 632.367 494.649C632.718 494.367 632.977 493.991 633.145 493.522C633.317 493.052 633.403 492.535 633.403 491.971C633.403 491.41 633.317 490.895 633.145 490.426C632.977 489.952 632.718 489.573 632.367 489.287C632.016 489.001 631.573 488.857 631.039 488.857C630.501 488.857 630.055 489.001 629.7 489.287C629.349 489.573 629.087 489.952 628.916 490.426C628.748 490.895 628.664 491.41 628.664 491.971C628.664 492.535 628.748 493.052 628.916 493.522C629.087 493.991 629.349 494.367 629.7 494.649C630.055 494.931 630.501 495.073 631.039 495.073ZM637.041 496.332V487.541H638.695V488.938H638.786C638.947 488.464 639.229 488.093 639.633 487.822C640.042 487.547 640.503 487.41 641.018 487.41C641.125 487.41 641.251 487.413 641.396 487.421C641.545 487.429 641.661 487.438 641.745 487.45V489.086C641.676 489.067 641.554 489.046 641.379 489.023C641.203 488.997 641.028 488.983 640.852 488.983C640.448 488.983 640.087 489.069 639.771 489.241C639.458 489.409 639.21 489.643 639.027 489.945C638.844 490.242 638.752 490.582 638.752 490.963V496.332H637.041ZM644.353 496.44C644.04 496.44 643.771 496.33 643.546 496.108C643.321 495.883 643.209 495.612 643.209 495.296C643.209 494.983 643.321 494.716 643.546 494.494C643.771 494.269 644.04 494.157 644.353 494.157C644.666 494.157 644.935 494.269 645.16 494.494C645.385 494.716 645.498 494.983 645.498 495.296C645.498 495.506 645.444 495.698 645.338 495.874C645.235 496.045 645.097 496.183 644.926 496.286C644.754 496.389 644.563 496.44 644.353 496.44ZM644.353 490.042C644.04 490.042 643.771 489.93 643.546 489.704C643.321 489.479 643.209 489.21 643.209 488.898C643.209 488.585 643.321 488.318 643.546 488.096C643.771 487.871 644.04 487.759 644.353 487.759C644.666 487.759 644.935 487.871 645.16 488.096C645.385 488.318 645.498 488.585 645.498 488.898C645.498 489.107 645.444 489.3 645.338 489.476C645.235 489.647 645.097 489.785 644.926 489.888C644.754 489.991 644.563 490.042 644.353 490.042Z" fill="#FFFBFB"/>
      </g>
      <g id="item-directorValue">
        <text x="651.16" y="496" font-weight="600" fill="#F4F4F4" font-family="Inter, sans-serif;" font-size="16.12" fill-opacity="0.54">
          <tspan>Hello</tspan>
        </text>
      </g>
    </g>
    <g id="voice_actors">
      <path d="M342.755 518.864L346.017 528.41H346.148L349.41 518.864H351.322L347.104 530.584H345.061L340.843 518.864H342.755ZM355.698 530.762C354.874 530.762 354.155 530.573 353.541 530.195C352.927 529.818 352.45 529.289 352.11 528.61C351.771 527.931 351.601 527.137 351.601 526.229C351.601 525.318 351.771 524.52 352.11 523.837C352.45 523.154 352.927 522.624 353.541 522.246C354.155 521.869 354.874 521.68 355.698 521.68C356.522 521.68 357.242 521.869 357.856 522.246C358.47 522.624 358.947 523.154 359.287 523.837C359.626 524.52 359.796 525.318 359.796 526.229C359.796 527.137 359.626 527.931 359.287 528.61C358.947 529.289 358.47 529.818 357.856 530.195C357.242 530.573 356.522 530.762 355.698 530.762ZM355.704 529.325C356.238 529.325 356.681 529.184 357.032 528.902C357.383 528.62 357.642 528.244 357.81 527.775C357.982 527.305 358.068 526.788 358.068 526.224C358.068 525.663 357.982 525.148 357.81 524.678C357.642 524.205 357.383 523.826 357.032 523.54C356.681 523.253 356.238 523.11 355.704 523.11C355.166 523.11 354.72 523.253 354.365 523.54C354.014 523.826 353.753 524.205 353.581 524.678C353.413 525.148 353.329 525.663 353.329 526.224C353.329 526.788 353.413 527.305 353.581 527.775C353.753 528.244 354.014 528.62 354.365 528.902C354.72 529.184 355.166 529.325 355.704 529.325ZM361.706 530.584V521.794H363.417V530.584H361.706ZM362.57 520.438C362.273 520.438 362.017 520.339 361.803 520.14C361.593 519.938 361.489 519.698 361.489 519.419C361.489 519.137 361.593 518.896 361.803 518.698C362.017 518.496 362.273 518.395 362.57 518.395C362.868 518.395 363.121 518.496 363.331 518.698C363.545 518.896 363.652 519.137 363.652 519.419C363.652 519.698 363.545 519.938 363.331 520.14C363.121 520.339 362.868 520.438 362.57 520.438ZM369.422 530.762C368.571 530.762 367.839 530.569 367.224 530.184C366.614 529.795 366.145 529.259 365.816 528.576C365.488 527.893 365.324 527.111 365.324 526.229C365.324 525.337 365.492 524.549 365.828 523.866C366.164 523.179 366.637 522.643 367.247 522.258C367.858 521.872 368.577 521.68 369.405 521.68C370.072 521.68 370.668 521.804 371.19 522.052C371.713 522.296 372.134 522.639 372.455 523.082C372.779 523.524 372.972 524.041 373.033 524.633H371.368C371.276 524.221 371.066 523.866 370.738 523.568C370.414 523.271 369.979 523.122 369.433 523.122C368.956 523.122 368.539 523.248 368.18 523.5C367.825 523.748 367.549 524.102 367.35 524.564C367.152 525.022 367.053 525.564 367.053 526.189C367.053 526.83 367.15 527.383 367.344 527.849C367.539 528.314 367.814 528.675 368.169 528.931C368.527 529.186 368.949 529.314 369.433 529.314C369.758 529.314 370.051 529.255 370.315 529.137C370.582 529.014 370.805 528.841 370.984 528.616C371.167 528.391 371.295 528.12 371.368 527.803H373.033C372.972 528.372 372.787 528.879 372.478 529.325C372.169 529.772 371.755 530.123 371.236 530.378C370.721 530.634 370.116 530.762 369.422 530.762ZM378.651 530.762C377.785 530.762 377.039 530.577 376.414 530.207C375.792 529.833 375.311 529.308 374.972 528.633C374.636 527.954 374.468 527.158 374.468 526.247C374.468 525.346 374.636 524.553 374.972 523.866C375.311 523.179 375.784 522.643 376.391 522.258C377.001 521.872 377.715 521.68 378.531 521.68C379.027 521.68 379.508 521.762 379.973 521.926C380.439 522.09 380.857 522.347 381.227 522.698C381.597 523.049 381.889 523.505 382.102 524.066C382.316 524.623 382.423 525.3 382.423 526.098V526.704H375.435V525.422H380.746C380.746 524.972 380.654 524.574 380.471 524.226C380.288 523.875 380.031 523.599 379.699 523.397C379.371 523.194 378.985 523.093 378.543 523.093C378.062 523.093 377.642 523.211 377.284 523.448C376.929 523.681 376.654 523.986 376.46 524.364C376.269 524.738 376.173 525.144 376.173 525.583V526.584C376.173 527.172 376.276 527.672 376.482 528.084C376.692 528.496 376.984 528.81 377.358 529.028C377.732 529.242 378.169 529.348 378.669 529.348C378.993 529.348 379.289 529.303 379.556 529.211C379.823 529.116 380.054 528.974 380.248 528.787C380.443 528.601 380.591 528.37 380.694 528.095L382.314 528.387C382.184 528.864 381.952 529.282 381.616 529.64C381.284 529.995 380.866 530.272 380.363 530.47C379.863 530.665 379.292 530.762 378.651 530.762ZM389.714 530.584H387.837L392.054 518.864H394.097L398.315 530.584H396.438L393.125 520.993H393.033L389.714 530.584ZM390.029 525.995H396.118V527.483H390.029V525.995ZM403.431 530.762C402.581 530.762 401.848 530.569 401.234 530.184C400.623 529.795 400.154 529.259 399.826 528.576C399.498 527.893 399.334 527.111 399.334 526.229C399.334 525.337 399.502 524.549 399.838 523.866C400.173 523.179 400.646 522.643 401.257 522.258C401.867 521.872 402.586 521.68 403.414 521.68C404.082 521.68 404.677 521.804 405.2 522.052C405.723 522.296 406.144 522.639 406.465 523.082C406.789 523.524 406.982 524.041 407.043 524.633H405.377C405.286 524.221 405.076 523.866 404.748 523.568C404.423 523.271 403.989 523.122 403.443 523.122C402.966 523.122 402.548 523.248 402.19 523.5C401.835 523.748 401.558 524.102 401.36 524.564C401.161 525.022 401.062 525.564 401.062 526.189C401.062 526.83 401.16 527.383 401.354 527.849C401.549 528.314 401.823 528.675 402.178 528.931C402.537 529.186 402.958 529.314 403.443 529.314C403.767 529.314 404.061 529.255 404.324 529.137C404.591 529.014 404.815 528.841 404.994 528.616C405.177 528.391 405.305 528.12 405.377 527.803H407.043C406.982 528.372 406.797 528.879 406.488 529.325C406.178 529.772 405.765 530.123 405.246 530.378C404.731 530.634 404.126 530.762 403.431 530.762ZM412.976 521.794V523.168H408.174V521.794H412.976ZM409.462 519.688H411.173V528.003C411.173 528.335 411.223 528.585 411.322 528.753C411.421 528.917 411.549 529.03 411.705 529.091C411.866 529.148 412.039 529.177 412.226 529.177C412.363 529.177 412.484 529.167 412.587 529.148C412.69 529.129 412.77 529.114 412.827 529.102L413.136 530.516C413.037 530.554 412.896 530.592 412.713 530.63C412.529 530.672 412.301 530.695 412.026 530.699C411.576 530.707 411.156 530.626 410.767 530.459C410.378 530.291 410.063 530.031 409.823 529.68C409.582 529.329 409.462 528.889 409.462 528.358V519.688ZM418.477 530.762C417.653 530.762 416.934 530.573 416.319 530.195C415.705 529.818 415.228 529.289 414.889 528.61C414.549 527.931 414.379 527.137 414.379 526.229C414.379 525.318 414.549 524.52 414.889 523.837C415.228 523.154 415.705 522.624 416.319 522.246C416.934 521.869 417.653 521.68 418.477 521.68C419.301 521.68 420.02 521.869 420.634 522.246C421.249 522.624 421.726 523.154 422.065 523.837C422.405 524.52 422.575 525.318 422.575 526.229C422.575 527.137 422.405 527.931 422.065 528.61C421.726 529.289 421.249 529.818 420.634 530.195C420.02 530.573 419.301 530.762 418.477 530.762ZM418.483 529.325C419.017 529.325 419.459 529.184 419.81 528.902C420.161 528.62 420.421 528.244 420.589 527.775C420.76 527.305 420.846 526.788 420.846 526.224C420.846 525.663 420.76 525.148 420.589 524.678C420.421 524.205 420.161 523.826 419.81 523.54C419.459 523.253 419.017 523.11 418.483 523.11C417.945 523.11 417.498 523.253 417.144 523.54C416.793 523.826 416.531 524.205 416.359 524.678C416.192 525.148 416.108 525.663 416.108 526.224C416.108 526.788 416.192 527.305 416.359 527.775C416.531 528.244 416.793 528.62 417.144 528.902C417.498 529.184 417.945 529.325 418.483 529.325ZM424.485 530.584V521.794H426.138V523.191H426.23C426.39 522.717 426.673 522.345 427.077 522.075C427.485 521.8 427.947 521.663 428.462 521.663C428.569 521.663 428.695 521.666 428.84 521.674C428.988 521.682 429.105 521.691 429.189 521.703V523.339C429.12 523.32 428.998 523.299 428.822 523.276C428.647 523.25 428.471 523.236 428.296 523.236C427.892 523.236 427.531 523.322 427.214 523.494C426.901 523.662 426.654 523.896 426.47 524.198C426.287 524.495 426.196 524.835 426.196 525.216V530.584H424.485ZM437.257 523.94L435.706 524.215C435.641 524.017 435.538 523.828 435.397 523.648C435.259 523.469 435.072 523.322 434.836 523.208C434.599 523.093 434.304 523.036 433.949 523.036C433.464 523.036 433.06 523.145 432.735 523.362C432.411 523.576 432.249 523.852 432.249 524.192C432.249 524.486 432.358 524.722 432.575 524.902C432.793 525.081 433.144 525.228 433.628 525.342L435.025 525.663C435.833 525.85 436.436 526.138 436.833 526.527C437.23 526.916 437.428 527.422 437.428 528.044C437.428 528.57 437.276 529.039 436.97 529.451C436.669 529.86 436.247 530.18 435.706 530.413C435.168 530.646 434.544 530.762 433.834 530.762C432.85 530.762 432.047 530.552 431.425 530.132C430.803 529.709 430.422 529.108 430.28 528.33L431.934 528.078C432.037 528.509 432.249 528.835 432.57 529.056C432.89 529.274 433.308 529.383 433.823 529.383C434.384 529.383 434.832 529.266 435.168 529.034C435.503 528.797 435.671 528.509 435.671 528.169C435.671 527.895 435.568 527.664 435.362 527.477C435.16 527.29 434.849 527.149 434.429 527.053L432.942 526.727C432.121 526.54 431.515 526.243 431.122 525.834C430.732 525.426 430.538 524.909 430.538 524.284C430.538 523.765 430.683 523.311 430.973 522.922C431.263 522.532 431.663 522.229 432.175 522.012C432.686 521.79 433.272 521.68 433.932 521.68C434.882 521.68 435.629 521.886 436.175 522.298C436.721 522.706 437.081 523.253 437.257 523.94ZM440.437 530.693C440.124 530.693 439.855 530.583 439.63 530.361C439.405 530.136 439.292 529.865 439.292 529.549C439.292 529.236 439.405 528.969 439.63 528.747C439.855 528.522 440.124 528.41 440.437 528.41C440.75 528.41 441.019 528.522 441.244 528.747C441.469 528.969 441.582 529.236 441.582 529.549C441.582 529.758 441.528 529.951 441.421 530.127C441.318 530.298 441.181 530.436 441.009 530.539C440.838 530.642 440.647 530.693 440.437 530.693ZM440.437 524.295C440.124 524.295 439.855 524.182 439.63 523.957C439.405 523.732 439.292 523.463 439.292 523.15C439.292 522.838 439.405 522.571 439.63 522.349C439.855 522.124 440.124 522.012 440.437 522.012C440.75 522.012 441.019 522.124 441.244 522.349C441.469 522.571 441.582 522.838 441.582 523.15C441.582 523.36 441.528 523.553 441.421 523.728C441.318 523.9 441.181 524.037 441.009 524.141C440.838 524.244 440.647 524.295 440.437 524.295Z" fill="#FFFBFB"/>
      <g id="voiceActorsValue"></g>
      <text x="447" y="531" font-family="Inter, sans-serif;" font-size="16.12" fill="#F4F4F4" fill-opacity="0.54">
        <tspan>Hello</tspan>
      </text>
    </g>
    <rect x="7.05066" y="78.4553" width="308.211" height="459.295" fill="url(#pattern1)"/>
    <g id="available_on">
      <path d="M68.3169 634.083H65.9705L71.2427 619.433H73.7965L79.0687 634.083H76.7223L72.5804 622.094H72.4659L68.3169 634.083ZM68.7103 628.346H76.3217V630.206H68.7103V628.346ZM89.0355 623.095L85.0509 634.083H82.7618L78.7701 623.095H81.0664L83.8491 631.551H83.9636L86.7392 623.095H89.0355ZM93.9285 634.326C93.2322 634.326 92.6027 634.198 92.04 633.94C91.4772 633.678 91.0313 633.299 90.7023 632.803C90.378 632.307 90.2158 631.699 90.2158 630.978C90.2158 630.358 90.335 629.848 90.5735 629.448C90.8119 629.047 91.1339 628.73 91.5392 628.496C91.9446 628.262 92.3977 628.086 92.8984 627.967C93.3992 627.848 93.9095 627.757 94.4293 627.695C95.0874 627.619 95.6216 627.557 96.0317 627.509C96.4418 627.457 96.7399 627.373 96.9259 627.259C97.1119 627.144 97.2049 626.958 97.2049 626.701V626.651C97.2049 626.026 97.0284 625.542 96.6755 625.198C96.3274 624.855 95.8075 624.683 95.116 624.683C94.3959 624.683 93.8284 624.843 93.4135 625.163C93.0033 625.477 92.7196 625.828 92.5622 626.214L90.552 625.756C90.7905 625.089 91.1386 624.55 91.5965 624.14C92.0591 623.725 92.5908 623.424 93.1917 623.238C93.7926 623.048 94.4245 622.952 95.0874 622.952C95.5262 622.952 95.9912 623.005 96.4824 623.11C96.9783 623.21 97.4409 623.396 97.8702 623.667C98.3041 623.939 98.6594 624.328 98.9361 624.834C99.2127 625.334 99.351 625.985 99.351 626.786V634.083H97.2621V632.581H97.1763C97.038 632.857 96.8305 633.129 96.5539 633.396C96.2773 633.663 95.922 633.885 95.488 634.062C95.054 634.238 94.5342 634.326 93.9285 634.326ZM94.3935 632.609C94.9849 632.609 95.4904 632.493 95.9101 632.259C96.3345 632.025 96.6564 631.72 96.8758 631.343C97.1 630.962 97.212 630.554 97.212 630.12V628.704C97.1357 628.78 96.9879 628.851 96.7685 628.918C96.5539 628.98 96.3083 629.035 96.0317 629.083C95.7551 629.126 95.4856 629.166 95.2233 629.204C94.961 629.238 94.7417 629.266 94.5652 629.29C94.1503 629.343 93.7712 629.431 93.4278 629.555C93.0892 629.679 92.8173 629.858 92.6123 630.091C92.412 630.32 92.3118 630.626 92.3118 631.007C92.3118 631.536 92.5073 631.937 92.8984 632.209C93.2895 632.476 93.7878 632.609 94.3935 632.609ZM102.2 634.083V623.095H104.339V634.083H102.2ZM103.28 621.4C102.908 621.4 102.589 621.276 102.321 621.028C102.059 620.775 101.928 620.475 101.928 620.126C101.928 619.774 102.059 619.473 102.321 619.225C102.589 618.972 102.908 618.846 103.28 618.846C103.652 618.846 103.969 618.972 104.232 619.225C104.499 619.473 104.632 619.774 104.632 620.126C104.632 620.475 104.499 620.775 104.232 621.028C103.969 621.276 103.652 621.4 103.28 621.4ZM109.355 619.433V634.083H107.216V619.433H109.355ZM115.43 634.326C114.734 634.326 114.105 634.198 113.542 633.94C112.979 633.678 112.533 633.299 112.204 632.803C111.88 632.307 111.718 631.699 111.718 630.978C111.718 630.358 111.837 629.848 112.075 629.448C112.314 629.047 112.636 628.73 113.041 628.496C113.447 628.262 113.9 628.086 114.4 627.967C114.901 627.848 115.411 627.757 115.931 627.695C116.589 627.619 117.123 627.557 117.534 627.509C117.944 627.457 118.242 627.373 118.428 627.259C118.614 627.144 118.707 626.958 118.707 626.701V626.651C118.707 626.026 118.53 625.542 118.177 625.198C117.829 624.855 117.309 624.683 116.618 624.683C115.898 624.683 115.33 624.843 114.915 625.163C114.505 625.477 114.222 625.828 114.064 626.214L112.054 625.756C112.292 625.089 112.641 624.55 113.098 624.14C113.561 623.725 114.093 623.424 114.694 623.238C115.295 623.048 115.926 622.952 116.589 622.952C117.028 622.952 117.493 623.005 117.984 623.11C118.48 623.21 118.943 623.396 119.372 623.667C119.806 623.939 120.161 624.328 120.438 624.834C120.715 625.334 120.853 625.985 120.853 626.786V634.083H118.764V632.581H118.678C118.54 632.857 118.332 633.129 118.056 633.396C117.779 633.663 117.424 633.885 116.99 634.062C116.556 634.238 116.036 634.326 115.43 634.326ZM115.895 632.609C116.487 632.609 116.992 632.493 117.412 632.259C117.836 632.025 118.158 631.72 118.378 631.343C118.602 630.962 118.714 630.554 118.714 630.12V628.704C118.638 628.78 118.49 628.851 118.27 628.918C118.056 628.98 117.81 629.035 117.534 629.083C117.257 629.126 116.988 629.166 116.725 629.204C116.463 629.238 116.244 629.266 116.067 629.29C115.652 629.343 115.273 629.431 114.93 629.555C114.591 629.679 114.319 629.858 114.114 630.091C113.914 630.32 113.814 630.626 113.814 631.007C113.814 631.536 114.009 631.937 114.4 632.209C114.791 632.476 115.29 632.609 115.895 632.609ZM123.873 634.083V619.433H126.012V624.876H126.141C126.265 624.648 126.444 624.383 126.678 624.082C126.911 623.782 127.236 623.52 127.651 623.296C128.066 623.067 128.614 622.952 129.296 622.952C130.183 622.952 130.975 623.176 131.671 623.625C132.367 624.073 132.913 624.719 133.309 625.563C133.71 626.407 133.91 627.423 133.91 628.611C133.91 629.798 133.712 630.816 133.316 631.665C132.92 632.509 132.377 633.16 131.685 633.618C130.994 634.071 130.204 634.298 129.317 634.298C128.65 634.298 128.104 634.186 127.679 633.962C127.26 633.737 126.93 633.475 126.692 633.175C126.454 632.874 126.27 632.607 126.141 632.373H125.962V634.083H123.873ZM125.97 628.589C125.97 629.362 126.082 630.039 126.306 630.621C126.53 631.203 126.854 631.658 127.279 631.987C127.703 632.311 128.223 632.474 128.838 632.474C129.477 632.474 130.011 632.304 130.441 631.966C130.87 631.622 131.194 631.157 131.413 630.571C131.638 629.984 131.75 629.324 131.75 628.589C131.75 627.864 131.64 627.213 131.421 626.636C131.206 626.059 130.882 625.604 130.448 625.27C130.018 624.936 129.482 624.769 128.838 624.769C128.218 624.769 127.694 624.929 127.264 625.248C126.84 625.568 126.518 626.014 126.299 626.586C126.079 627.158 125.97 627.826 125.97 628.589ZM138.451 619.433V634.083H136.312V619.433H138.451ZM146.064 634.305C144.981 634.305 144.049 634.074 143.267 633.611C142.49 633.144 141.889 632.488 141.464 631.644C141.045 630.795 140.835 629.801 140.835 628.661C140.835 627.535 141.045 626.543 141.464 625.685C141.889 624.826 142.48 624.156 143.238 623.675C144.001 623.193 144.893 622.952 145.914 622.952C146.534 622.952 147.135 623.055 147.716 623.26C148.298 623.465 148.82 623.787 149.283 624.225C149.746 624.664 150.111 625.234 150.378 625.935C150.645 626.631 150.778 627.478 150.778 628.475V629.233H142.044V627.631H148.682C148.682 627.068 148.568 626.569 148.339 626.135C148.11 625.697 147.788 625.351 147.373 625.098C146.963 624.845 146.481 624.719 145.928 624.719C145.327 624.719 144.803 624.867 144.354 625.163C143.911 625.454 143.567 625.835 143.324 626.307C143.086 626.775 142.966 627.282 142.966 627.831V629.083C142.966 629.817 143.095 630.442 143.353 630.957C143.615 631.472 143.98 631.866 144.447 632.137C144.915 632.404 145.461 632.538 146.085 632.538C146.491 632.538 146.86 632.481 147.194 632.366C147.528 632.247 147.817 632.071 148.06 631.837C148.303 631.603 148.489 631.315 148.618 630.971L150.642 631.336C150.48 631.932 150.189 632.454 149.77 632.903C149.355 633.346 148.832 633.692 148.203 633.94C147.578 634.183 146.865 634.305 146.064 634.305ZM163.111 634.305C162.081 634.305 161.182 634.069 160.414 633.597C159.646 633.125 159.05 632.464 158.626 631.615C158.201 630.766 157.989 629.774 157.989 628.639C157.989 627.499 158.201 626.503 158.626 625.649C159.05 624.795 159.646 624.132 160.414 623.66C161.182 623.188 162.081 622.952 163.111 622.952C164.141 622.952 165.04 623.188 165.808 623.66C166.576 624.132 167.172 624.795 167.596 625.649C168.021 626.503 168.233 627.499 168.233 628.639C168.233 629.774 168.021 630.766 167.596 631.615C167.172 632.464 166.576 633.125 165.808 633.597C165.04 634.069 164.141 634.305 163.111 634.305ZM163.118 632.509C163.786 632.509 164.339 632.333 164.778 631.98C165.217 631.627 165.541 631.157 165.751 630.571C165.965 629.984 166.073 629.338 166.073 628.632C166.073 627.931 165.965 627.287 165.751 626.701C165.541 626.109 165.217 625.635 164.778 625.277C164.339 624.919 163.786 624.741 163.118 624.741C162.446 624.741 161.888 624.919 161.444 625.277C161.005 625.635 160.679 626.109 160.464 626.701C160.254 627.287 160.149 627.931 160.149 628.632C160.149 629.338 160.254 629.984 160.464 630.571C160.679 631.157 161.005 631.627 161.444 631.98C161.888 632.333 162.446 632.509 163.118 632.509ZM172.759 627.559V634.083H170.62V623.095H172.674V624.884H172.809C173.062 624.302 173.458 623.834 173.997 623.481C174.541 623.129 175.225 622.952 176.05 622.952C176.799 622.952 177.455 623.11 178.017 623.424C178.58 623.734 179.016 624.197 179.326 624.812C179.636 625.427 179.791 626.188 179.791 627.094V634.083H177.652V627.352C177.652 626.555 177.445 625.933 177.03 625.485C176.615 625.031 176.045 624.805 175.32 624.805C174.824 624.805 174.383 624.912 173.997 625.127C173.615 625.341 173.313 625.656 173.088 626.071C172.869 626.481 172.759 626.977 172.759 627.559ZM184.069 634.219C183.678 634.219 183.342 634.081 183.061 633.804C182.779 633.523 182.639 633.184 182.639 632.788C182.639 632.397 182.779 632.063 183.061 631.787C183.342 631.505 183.678 631.365 184.069 631.365C184.46 631.365 184.797 631.505 185.078 631.787C185.359 632.063 185.5 632.397 185.5 632.788C185.5 633.051 185.433 633.291 185.3 633.511C185.171 633.725 184.999 633.897 184.785 634.026C184.57 634.155 184.332 634.219 184.069 634.219ZM184.069 626.221C183.678 626.221 183.342 626.081 183.061 625.799C182.779 625.518 182.639 625.182 182.639 624.791C182.639 624.4 182.779 624.066 183.061 623.789C183.342 623.508 183.678 623.367 184.069 623.367C184.46 623.367 184.797 623.508 185.078 623.789C185.359 624.066 185.5 624.4 185.5 624.791C185.5 625.053 185.433 625.294 185.3 625.513C185.171 625.728 184.999 625.899 184.785 626.028C184.57 626.157 184.332 626.221 184.069 626.221Z" fill="#F5EFEF"/>
    </g>
    <g id="actors_icons">
      <text x="125.31" y="684.22" font-weight="600" font-family="Inter,sans-serif" font-size="24" fill="#f4f4f4">
        <tspan>Crews/Cast</tspan>
      </text>
      <g id="trailers" *ngIf="item?.trailer">
        <foreignObject x="382.45" y="600.22" width="900" height="450" rx="8">
          <iframe width="900" height="450" [style.border]="'none'" title="Trailer"
                  [attr.src]="'https://www.youtube.com/embed/'+item?.trailer+'?autoplay=1&mute=1'">
          </iframe>
        </foreignObject>
      </g>
    </g>
    <ellipse cx="242.742" cy="626.89" rx="25.1807" ry="23.6698" fill="url(#pattern2)"/>
    <path d="M330.874 626.89C330.874 639.656 319.856 650.057 306.197 650.057C292.538 650.057 281.52 639.656 281.52 626.89C281.52 614.125 292.538 603.724 306.197 603.724C319.856 603.724 330.874 614.125 330.874 626.89Z" fill="url(#pattern3)"/>
    <path d="M330.874 626.89C330.874 639.656 319.856 650.057 306.197 650.057C292.538 650.057 281.52 639.656 281.52 626.89C281.52 614.125 292.538 603.724 306.197 603.724C319.856 603.724 330.874 614.125 330.874 626.89Z" stroke="#FB0404" stroke-width="1.00723" style="mix-blend-mode:screen"/>
    <g id="back--button" (click)="onClickExit()">
      <g filter="url(#filter0_d_53_106)" (click)="onClickExit()">
        <path d="M60 21.5C60.8284 21.5 61.5 20.8284 61.5 20C61.5 19.1716 60.8284 18.5 60 18.5V21.5ZM36.9393 18.9393C36.3536 19.5251 36.3536 20.4749 36.9393 21.0607L46.4853 30.6066C47.0711 31.1924 48.0208 31.1924 48.6066 30.6066C49.1924 30.0208 49.1924 29.0711 48.6066 28.4853L40.1213 20L48.6066 11.5147C49.1924 10.9289 49.1924 9.97918 48.6066 9.3934C48.0208 8.80761 47.0711 8.80761 46.4853 9.3934L36.9393 18.9393ZM60 18.5L38 18.5V21.5L60 21.5V18.5Z" fill="#FFFBFB"/>
      </g>
      <g style="mix-blend-mode:screen" filter="url(#filter1_d_53_106)" (click)="onClickExit()">
        <rect x="27" y="1" width="44" height="38" rx="8" fill="#54546B"/>
        <rect x="27" y="1" width="44" height="38" rx="8" stroke="black"/>
      </g>
    </g>
  </g>
  <defs>
    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0_53_106" transform="matrix(0.000520833 0 0 0.000953743 0 -0.0150215)"/>
    </pattern>
    <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image1_53_106" transform="matrix(0.000986232 0 0 0.000661813 0.0808515 0)"/>
    </pattern>
    <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image2_53_106" transform="matrix(0.0020614 0 0 0.00219298 0.03 0)"/>
    </pattern>
    <pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image3_53_106" transform="matrix(0.000260417 0 0 0.000277039 0 0.200798)"/>
    </pattern>
    <filter id="f1" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" stdDeviation="50" />
    </filter>
    <filter id="filter0_d_53_106" x="0" y="0" width="1480" height="780" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="10" dy="10"/>
      <feGaussianBlur stdDeviation="25"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.727446 0 0 0 0 0.741667 0 0 0 0 0.0309028 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_53_106"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_53_106" result="shape"/>
    </filter>
    <filter id="filter0_d_60_192" x="0" y="0" width="1207" height="762" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="10"/>
      <feGaussianBlur stdDeviation="25"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.727446 0 0 0 0 0.741667 0 0 0 0 0.0309028 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_60_192"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_60_192" result="shape"/>
    </filter>
    <filter id="filter1_d_53_106" x="22.5" y="0.5" width="53" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_53_106"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_53_106" result="shape"/>
    </filter>
    <image id="image0_53_106" width="1920" height="1080" [attr.xlink:href]="item?.overviewImage ?? ''"/>
    <image id="image1_53_106" width="980" height="1490" [attr.xlink:href]="item?.overviewImage ?? ''"/>
    <image id="image2_53_106" width="456" height="456" xlink:href=""/>
    <image id="image3_53_106" width="3840" height="2160" xlink:href=""/>
  </defs>
</svg>




