.chips {
  background: #1e1e1e !important;
}

::ng-deep {
  .selected-chip .mdc-evolution-chip__action--primary {
    //background-color: #ffc107 !important;
    background: linear-gradient(to right, #ffc107, #1e7ddb) !important;
    border-radius: 20px !important;
  }
  .chips .mdc-evolution-chip__text-label {
    color: #f4f4f4 !important;
    opacity: 0.65 !important;
  }
}

