<mat-chip-listbox (change)="chipSelected($event)">
  <ng-container *ngFor="let chip of matChipList">
    <mat-chip-option *ngIf="contextType==='document' && chip.counts!=0" color="primary" [ngClass]="{'selected-chip': chip.isSelected, 'chips': !chip.isSelected}" [selected]="chip.isSelected">{{chip.value + '(' + chip.counts + ')'}}</mat-chip-option>
    <mat-chip-option *ngIf="contextType==='panel' && chipType==='genres' && chipInputs!='year' && chip.counts!=0" color="primary" [ngClass]="{'selected-chip': chip.isSelected, 'chips': !chip.isSelected}" [selected]="chip.isSelected" [disabled]="!chip.isSelected">{{chip.value + '(' + chip.counts + ')'}}</mat-chip-option>
    <mat-chip-option *ngIf="contextType==='panel' && chipType==='year' && chipInputs!='genre' && chip.counts!=0" color="primary" [ngClass]="{'selected-chip': chip.isSelected, 'chips': !chip.isSelected}" [selected]="chip.isSelected" [disabled]="!chip.isSelected">{{chip.value + '(' + chip.counts + ')'}}</mat-chip-option>

    <mat-chip-option *ngIf="contextType==='panel' && chipType==='genres' && chipInputs==='year' && chip.counts!=0" color="primary" [ngClass]="{'selected-chip': chip.isSelected, 'chips': !chip.isSelected}" [selected]="chip.isSelected">{{chip.value + '(' + chip.counts + ')'}}</mat-chip-option>
    <mat-chip-option *ngIf="contextType==='panel' && chipType==='year' && chipInputs==='genre' && chip.counts!=0" color="primary" [ngClass]="{'selected-chip': chip.isSelected, 'chips': !chip.isSelected}" [selected]="chip.isSelected">{{chip.value + '(' + chip.counts + ')'}}</mat-chip-option>
  </ng-container>
</mat-chip-listbox>
