<div fxLayout="row" fxLayoutAlign="center center">
  <ng-container *ngIf="isMobileWidth">
    <ms-about-mobile></ms-about-mobile>
  </ng-container>
  <ng-container *ngIf="!isMobileWidth">
    <ms-about></ms-about>
  </ng-container>
</div>
