<svg width="1668" height="770" viewBox="0 0 1668 770" fill="none" xmlns="http://www.w3.org/2000/svg">

  <rect x="182.394" y="26" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="270" y="26" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.25;0.75;1" />
  </rect>
  <rect x="354.182" y="26" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="101" y="26" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="101" y="95.583" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="185.394" y="95.583" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="269.788" y="95.583" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="354.182" y="95.583" width="77.8179" height="33.5833" rx="16.7917" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>

<!--  Rectangles of Item-->
  <rect x="10" y="243" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="10" y="507" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="10" y="375" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="589" y="243" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="589" y="375" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="589" y="507" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="10" y="639" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="589" y="639" width="565" height="125" rx="4" fill="#6F6565" fill-opacity="1">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>

  <rect x="1170" y="40" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1340" y="40" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1510" y="40" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>

  <rect x="1170" y="255" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1340" y="255" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1510" y="255" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>

  <rect x="1170" y="470" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1340" y="470" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>
  <rect x="1510" y="470" width="160.95" rx="10" height="185.49" fill="#6F6565">
    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="0.5s" values="1;0.75;0.5;0.75;1" />
  </rect>

</svg>
