<div fxLayout="column" fxLayoutAlign="start start" class="panel--container" fxLayoutGap="2rem">
  <div fxLayout="row" class="panel-container--header" fxLayoutAlign="space-evenly center">
    <div class="ms-header-20" fxFlex="90">
      {{'Items with '+ data.context.toUpperCase() + ': ' + data.value + '('+cinematicAggregate.length + ')'}}
    </div>
    <div>
      <mat-icon class="icon--white icon--pointer" (click)="closePanel()">close</mat-icon>
    </div>
  </div>
  <div class="item-contents">
    <ng-container *ngIf="isLoading">
      <ms-loading></ms-loading>
    </ng-container>
    <ng-container *ngIf="cinematicAggregate.length>0 && !isLoading">
      <ms-items-container [selectedPanelValue]="data.value" [selectedPanelKey]="data.context" contextType="panel" (selectedItemClick)="closePanel()" [aggregate]="cinematicAggregate"></ms-items-container>
    </ng-container>
  </div>
</div>
