<svg width="83" height="153" viewBox="0 0 83 153" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="83" height="153" rx="13" filter="url(#f1)" [attr.fill]="'url(#pattern0' + item._id+ ')'"/>
  <rect width="83" height="153" *ngIf="highlighted" stroke="#ffc107" stroke-width="3px" />
  <g id="image">
    <rect x="-15" y="3" width="115" height="85" [attr.fill]="'url(#pattern0' + item._id+ ')'" />
  </g>
  <g id="pg">
    <g id="pg-container">
      <rect x="62" y="2" fill="#ffc107" width="8" height="7"/>
      <rect x="70" fill="#111111" y="2" width="8" height="7" />
      <rect x="62" y="2" width="16" height="7" stroke="#111111" stroke-opacity="1" stroke-width="0.4px">
        <animate attributeName="stroke" repeatCount="indefinite" dur="3s" values="#111111; #ffc107" />
      </rect>
    </g>
    <g id="pg-text">
      <text x="62.5" y="7.3" fill="black" font-family="Inter, sans-serif" font-size="5" font-weight="800">
        <tspan>PG</tspan>
      </text>
      <text x="70.5" y="7.3" fill="#ffffff" font-family="Inter, sans-serif" font-size="5" font-weight="800">
        <tspan>{{item.pg}}</tspan>
      </text>
    </g>
  </g>
  <g id="title">
    <text x="2.5" y="97.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.title!.length! < 15" font-family="Inter, sans-serif" font-size="8.5" font-weight="800">
      <tspan>{{item.title}}</tspan>
    </text>
    <text x="2.5" y="97.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.title!.length! > 13" font-family="Inter, sans-serif" font-size="8.5" font-weight="800">
      <tspan>{{item.title!.substring(0, 13) + '..'}}</tspan>
    </text>
  </g>
  <g id="description">
    <text x="2.5" y="105" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length<=30" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description}}</tspan>
    </text>
    <text x="2.5" y="105" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>30" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(0, 30) + '-'}}</tspan>
    </text>
    <text x="2.5" y="110.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length<62" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(30, item.description.length)}}</tspan>
    </text>
    <text x="2.5" y="110.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>61" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(30, 62) + '-'}}</tspan>
    </text>
    <text x="2.5" y="115.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>61 && item.description.length<90" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(62, item.description.length)}}</tspan>
    </text>
    <text x="2.5" y="115.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>61 && !(item.description.length<88)" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(62, 92) + '-'}}</tspan>
    </text>
    <text x="2.5" y="120.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>91 && item.description.length<120" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(92, item.description.length)}}</tspan>
    </text>
    <text x="2.5" y="120.3" fill="#f4f4f4" fill-opacity="0.54" *ngIf="item.description.length>91 && !(item.description.length<120)" font-family="Inter, sans-serif" font-size="4.5" font-weight="300">
      <tspan>{{item.description.substring(92, 120) + '...'}}</tspan>
    </text>
  </g>
  <g id="pgcba">
    <g>
      <rect x="69" width="9" height="7" y="12" fill="#f4f4f4">
        <animate attributeName="fill" repeatCount="indefinite" dur="1s" values="#20c997; #ffc107; " />
      </rect>
    </g>
    <g id="pgcba-context">
      <text x="69.5" y="16.7" fill="#000000" font-family="Inter, sans-serif" font-size="4" font-weight="800">
        <tspan>U/A</tspan>
      </text>
    </g>
  </g>
  <defs>
    <pattern [id]="'pattern0' + item._id" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use [attr.xlink:href]="'#image0_11_190'+item._id" transform="matrix(0.000951886 0 0 0.000925926 -0.413811 0)"/>
    </pattern>
    <image [id]="'image0_11_190'+item._id" width="1900" height="1020" [attr.href]="item.overviewImage"/>
    <filter id="f1" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" edgeMode="duplicate" stdDeviation="50" />
    </filter>
  </defs>
</svg>
