/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Inter, sans-serif, Roboto; background: #1e1e1e }

.padding-r1 {
  padding: 1rem !important;
}

.mat-bottom-sheet-container {
  background: #1e1e1e;
}

.active {
  //background-color: #ffc107 !important;
  background: linear-gradient(to right, #ffc107, #1e7ddb) !important;
  color: #ffffff !important;
}

.padding-r1-5 {
  padding: 1.5rem!important;
}

.padding-r-25 {
  padding: 0.25rem!important;
}

.padding-r-5 {
  padding: 0.5rem!important;
}

.padding-r-75 {
  padding: 0.75rem!important;
}

.padding-r1-25 {
  padding: 1.25rem!important;
}

.padding-r1-75 {
  padding: 1.75rem!important;
}

.padding-r2 {
  padding: 2rem !important;
}

.padding-r2-25 {
  padding: 2.25rem!important;
}

.padding-r2-5 {
  padding: 2.5rem!important;
}

.padding-r2-75 {
  padding: 2.75rem!important
}

.padding-r3 {
  padding: 3rem!important;
}

.menu--mobile {
  background: #1e1e1e !important;
  color: #f4f4f4;
}

.ms-header-20 {
  font-size: 20px !important;
  color: #f4f4f4;
  font-weight: bold;
  font-family: Inter, sans-serif, Roboto;
}

.icon--white {
  color: #f4f4f4 !important;
}

.icon--pointer {
  cursor: pointer !important;
}

.icon--white:hover {
  color: transparent !important;
  background: linear-gradient(to right, #ffc107, #1e7ddb) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

.text-pointer {
  cursor: pointer;
}

.underline--text:hover {
  text-decoration: underline;
  fill: #ffc107;
}

.ms-font-color {
  color:  #f4f4f4 !important;
}

.ms-font-bold {
  font-weight: 800;
}
