<svg [attr.viewBox]="'0 0 '+width+' 1200'" style="cursor: default" preserveAspectRatio="xMidYMid meet" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <rect [attr.width]="width" style="mix-blend-mode: overlay" height="1200" fill="url(#pattern0)"/>
  <g id="back--button" (click)="onClickExit()">
    <g filter="url(#filter0_d_53_106)" (click)="onClickExit()">
      <path (click)="onClickExit()" d="M60 21.5C60.8284 21.5 61.5 20.8284 61.5 20C61.5 19.1716 60.8284 18.5 60 18.5V21.5ZM36.9393 18.9393C36.3536 19.5251 36.3536 20.4749 36.9393 21.0607L46.4853 30.6066C47.0711 31.1924 48.0208 31.1924 48.6066 30.6066C49.1924 30.0208 49.1924 29.0711 48.6066 28.4853L40.1213 20L48.6066 11.5147C49.1924 10.9289 49.1924 9.97918 48.6066 9.3934C48.0208 8.80761 47.0711 8.80761 46.4853 9.3934L36.9393 18.9393ZM60 18.5L38 18.5V21.5L60 21.5V18.5Z" fill="#FFFBFB"/>
    </g>
    <g style="mix-blend-mode:overlay; cursor: pointer" filter="url(#filter1_d_53_106)" (click)="onClickExit()">
      <rect x="27" y="1" width="44" height="38" rx="8" (click)="onClickExit()" fill="#54546B"/>
    </g>
  </g>
  <g>
    <rect x="20" y="64" width="232.333" rx="4" height="347" fill="url(#pattern1)"/>
  </g>
  <g id="title">
    <text x="20" y="445" fill="#f4f4f4" font-family="Inter, sans-serif" font-size-adjust="0.58" font-weight="800" font-size="24px" fill-opacity="0.54">
      <tspan [style.width]="'100%'"  text-rendering="optimizeSpeed" textLength="80%" lengthAdjust="spacingAndGlyphs" class="item--title">{{item?.title}}</tspan>
    </text>
  </g>
  <g (click)="onClickYear(item?.year!)">
    <text x="20" (click)="onClickYear(item?.year!)" y="470" font-family="Inter, sans-serif" font-size="14" font-weight="800" fill="#EBFE13" fill-opacity="0.87">
      <tspan (click)="onClickYear(item?.year)" class="text-pointer underline--text">{{item?.year}}</tspan>
    </text>
  </g>
  <g id="genres">
    <g id="item-genre-values" class="genreList">
      <g *ngFor="let genre of genresXList">
        <text fill="#f4f4f4" [attr.x]="genre.x" (click)="onClickGenres(genre.key)" [attr.y]="genre.y" font-size="14px">
          <tspan class="underline--text text-pointer" (click)="onClickGenres(genre.key)">{{genre.key}}</tspan>
        </text>
      </g>
    </g>
  </g>
  <g>
    <foreignObject width="90%" height="100%" x="20" [attr.y]="item?.genres!.length>5 ? 690: 620">
      <div style="color: #f4f4f4; font-family: Inter, sans-serif, Roboto">
        {{item?.description}}
      </div>
    </foreignObject>
  </g>
  <defs>
    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0_125_104" transform="matrix(0.00180296 0 0 0.000833333 -0.221184 0)"/>
    </pattern>
    <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image1_125_104" transform="scale(0.00125 0.000833333)"/>
    </pattern>
    <image id="image0_125_104" width="800" height="1200" [attr.xlink:href]="item?.overviewImage"/>
    <image id="image1_125_104" width="800" height="1200" [attr.xlink:href]="item?.overviewImage"/>
  </defs>
</svg>
