svg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.genreList, .item--title {
  display: flex;
  flex-direction: row;
  place-content: start center;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 100%;
}
